<div class="left-nav">
    <ul class="product-list">
        <li class="link"><a href="#">Product 1</a></li>
        <li class="link"><a href="#">Product 2</a></li>
        <li class="link"><a href="#">Product 3</a></li>
        <li class="link"><a href="#">Product 4</a></li>
        <li class="link"><a href="#">Product 5</a></li>
        <li class="link"><a href="#">Product 6</a></li>
        <li class="link"><a href="#">Product 7</a></li>
        <li class="link"><a href="#">Product 8</a></li>
    </ul>
</div>
